:root {
    --primario: #282d35;
    --primarioClaro: #374a5d;
    --secundario: #dc454d;
    --gris: #dddddd;
    --blanco: #ffffff;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.contenedor-slider-superior {
    width: 100%;
    display: flex;
    background-color: var(--primario);
}

.slider-superior {
    width: 100%;
    display: block;
    background-color: var(--primario);
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
}

.slider-superior a {
    color: var(--blanco);
    text-decoration: none;
}

.slider-superior a:hover {
    text-decoration: underline;
}

.logo {
    background-image: url(../img/BandUp.svg);
    background-size: cover;
    height: 10rem;
    width: 23rem;
    display: flex;
    overflow: hidden;
}

.navegacion-superior {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: hidden;
}

.navegacion-superior a {
    padding: 2rem;
    color: var(--primario);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
}

.navegacion-superior a:hover {
    text-decoration: underline;
}

.navegacion-inferior {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navegacion-inferior a {
    color: var(--primario);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

.navegacion-inferior a:hover {
    text-decoration: underline;
}

.slider-superior-movimiento {
    display: flex;
    position: relative;
    animation: slider-superior 25s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}

.slider-superior-movimiento:hover {
    animation-play-state: paused;
}

.ofertas {
    width: 100%;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.2rem;
}

@keyframes slider-superior {

    0%,
    20% {
        right: 0;
    }

    25%,
    45% {
        right: 100%;
    }

    50%,
    70% {
        right: 200%;
    }

    75%,
    95% {
        right: 300%;
    }

    100% {
        right: 0;
    }
}

@media (min-width: 768px) {
    .navegacion-superior {
        flex-direction: row;
        justify-content: space-around;
    }
}

/* Menú navegación superior */

ul {
    list-style: none;
}

.header {
    box-shadow: 1px 1px 5px 0px var(--primario);
    position: relative;
    top: 0;
    width: 100%;
}

.nav {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
}

.nav-inf {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
}

.nav-inf a {
    font-family: 'Montserrat', sans-serif;
}

.menu a {
    display: block;
    padding: 10px 20px;
    color: var(--primario);
    text-decoration: none;
}

.menu a:hover {
    background-color: var(--secundario);
    text-decoration: underline;
}

.nav {
    max-height: 0;
    transition: max-height .5s ease-out;
}

.nav-inf {
    max-height: 0;
    transition: max-height .5s ease-out;
}

@media (min-width: 768px) {
    .nav {
        max-height: none;
        top: 0;
        position: relative;
        float: left;
        width: fit-content;
        background-color: transparent;
        margin-left: 30px;
        font-size: 14px;
    }

    .nav-inf {
        max-height: none;
        top: -10px;
        margin-bottom: 10px;
        position: relative;
        float: left;
        width: fit-content;
        background-color: transparent;
        margin-left: 29px;
        font-size: 20px;
    }

    .nav-reg {
        max-height: none;
        top: 0;
        float: right;
        background-color: transparent;
        margin-right: 69px;
        font-size: 14px;
    }

    .menu li {
        float: left;
    }

    .menu a:hover {
        background-color: transparent;
        color: var(--grey);

    }

    .hamb {
        display: none;
    }

    .nav li+li:before {
        content: "|";
        position: absolute;
        top: 2.3rem;
        color: var(--secundario);
    }

    .nav-reg li+li:before {
        content: "|";
        position: absolute;
        top: 2.3rem;
        color: var(--secundario);
    }

    .nav-inf li+li:before {
        content: "|";
        position: absolute;
        top: 2.87rem;
        color: var(--secundario);
    }

    .logo {
        background-image: url(../img/BandUp.svg);
        background-size: contain;
        background-repeat: no-repeat;
        height: 70px;
        width: 90%;
        display: flex;
        position: relative;
        align-items: center;
        margin-left: 8.6rem;
        margin-top: 5.8rem;
    }

    .button {
        display: block;
    }
}

/*----------------------------*/



.area-buscador {
    overflow: hidden;
    background-color: transparent;
    margin-right: 20px;
}

.area-buscador .contenedor {
    float: center;
    margin-left: 200px;
}

.area-buscador input[type=text] {
    font-size: 17px;
    border: solid var(--primario) 2px;
    padding: 15px 15px;
    width: 970px;
}

.area-buscador .contenedor .boton-buscar {
    padding: 14.6px 18px;
    margin-left: -2px;
    background-color: var(--primario);
    border: none;
    cursor: pointer;
    position: absolute;
}

.area-buscador .contenedor .boton-carrito {
    padding: 12px 18px;
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    margin-left: 75px;
}

.area-buscador .contenedor .boton-buscar:hover {
    background: var(--primarioClaro);
}

@media screen and (max-width: 768px) {
    .topnav .search-container {
        float: none;
    }

    .area-buscador a,
    .area-buscador input[type=text],
    .area-buscador .contenedor button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 18px;
    }

    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}


.carrito-items {
    position: absolute;
    right: 4%;
    font-size: 85%;
    font-weight: 900;
    margin-left: -6px;
    margin-top: -6px;
    color: var(--blanco);
    padding: 1px;
    text-align: center;
    border: solid var(--secundario);
    border-radius: 60%;
    height: 15px;
    width: 15px;
    background-color: var(--secundario);
}